/* Temas extras (não mexe no index) */

.theme-neon .box{
  border: 2px solid #00ffcc;
  box-shadow: 0 0 20px rgba(0,255,204,.25);
}

.theme-red .box{
  border: 2px solid #ff416c;
  box-shadow: 0 0 20px rgba(255,65,108,.25);
}

.theme-glass .box{
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,.15);
}
